allow fingerprintd tee_device:chr_file { open read write ioctl };
allow fingerprintd firmware_file:file { read getattr open };
allow fingerprintd firmware_file:dir { search r_dir_perms };
allow fingerprintd sysfs_devices_fingerprint:dir r_dir_perms;
allow fingerprintd sysfs_devices_fingerprint:file { open read write };

allow fingerprintd input_device:chr_file { read open };
allow fingerprintd input_device:dir { search };
allow fingerprintd sysfs:file { write };
