allow sensors sensors_data_file:file { open read write getattr };
allow sensors sensors_data_file:dir { open read ioctl getattr };
allow sensors unlabeled:file { open read write getattr };
allow sensors unlabeled:dir { getattr search read open};
