allow system_server cir_device:chr_file rw_file_perms;

# communicate with perfd
allow system_server perfd:unix_stream_socket connectto;
allow system_server mpctl_data_file:dir search;
allow system_server mpctl_data_file:sock_file write;
allow system_server mpctl_socket:dir search;
allow system_server mpctl_socket:sock_file write;
allow system_server device:chr_file { ioctl };
allow system_server sysfs_tap2wake:file rw_file_perms;
allow system_server unlabeled:file unlink;
type sysfs_tap2wake, fs_type, sysfs_type;
