on post-fs-data
#make factory test result directory
   mkdir /sns/fingerprint 0775 system system

#change cucialtec device permission
on boot
   chown system input /sys/devices/virtual/input/lge_fingerprint/testmode
   chown system input /sys/devices/virtual/input/lge_fingerprint/spitest
   chown system input /sys/devices/virtual/input/lge_fingerprint/zonetest
   chown system input /sys/devices/virtual/input/lge_fingerprint/checkerbdtest
   chown system input /sys/devices/virtual/input/lge_fingerprint/rubbertest
   chown system input /sys/devices/virtual/input/lge_fingerprint/intstatus
   chown system input /sys/devices/virtual/input/lge_fingerprint/qup_id
   chown system input /sys/devices/virtual/input/lge_fingerprint/waitfinger
   chown system input /sys/devices/virtual/input/lge_fingerprint/spi_prepare

   chmod 0660 /sys/devices/virtual/input/lge_fingerprint/testmode
   chmod 0660 /sys/devices/virtual/input/lge_fingerprint/spitest
   chmod 0660 /sys/devices/virtual/input/lge_fingerprint/zonetest
   chmod 0660 /sys/devices/virtual/input/lge_fingerprint/checkerbdtest
   chmod 0660 /sys/devices/virtual/input/lge_fingerprint/rubbertest
   chmod 0440 /sys/devices/virtual/input/lge_fingerprint/intstatus
   chmod 0660 /sys/devices/virtual/input/lge_fingerprint/qup_id
   chmod 0220 /sys/devices/virtual/input/lge_fingerprint/waitfinger
   chmod 0660 /sys/devices/virtual/input/lge_fingerprint/spi_prepare


#fingerprintd
service fingerprintd /system/bin/fingerprintd
    class late_start
    user system
    group system input

#fidod
service fidod /system/bin/fidod
    class late_start
    user system
    group system
