# Copyright (c) 2009-2012, Code Aurora Forum. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of Code Aurora nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

import /init.ph2n_product.rc

# modem logging (LGODM)
import /init.lge.modem_log.rc

import /init.wifi.rc

# fingerprints
import /init.lge.fingerprints.rc

# BSP Display Reader mode
#service reader_mode /system/bin/sh /init.lge.display.reader_mode.sh
#	class main
#	user root
#	oneshot

on early-fs
    ffu_update

on boot

# START TOUCH Sharp specific

    chmod 666 /dev/shtsc

# END TOUCH Sharp specific

# START TOUCH Driver
	chown system system /sys/devices/virtual/input/lge_touch/incoming_call
	chmod 664 /sys/devices/virtual/input/lge_touch/incoming_call
	chown system system /sys/devices/virtual/input/lge_touch/ime_status
	chown system lgkeyguard /sys/devices/virtual/input/lge_touch/keyguard
	chmod 664 /sys/devices/virtual/input/lge_touch/keyguard
	chown system system /sys/devices/virtual/input/lge_touch/ts_noise_log_enable
	chmod 664 /sys/devices/virtual/input/lge_touch/ts_noise_log_enable
	chown system system /sys/devices/virtual/input/lge_touch/ts_noise
	chmod 664 /sys/devices/virtual/input/lge_touch/ts_noise
# END TOUCH Driver

# START TOUCH Common

    chown system system /sys/devices/virtual/input/lge_touch/lpwg_data
    chmod 664 /sys/devices/virtual/input/lge_touch/lpwg_data
    chown system system /sys/devices/virtual/input/lge_touch/lpwg_notify
    chmod 664 /sys/devices/virtual/input/lge_touch/lpwg_notify
    chown system system /sys/devices/virtual/input/lge_touch/lpwg_test_info
    chmod 644 /sys/devices/virtual/input/lge_touch/lpwg_test_info
    chown system system /sys/devices/virtual/input/lge_touch/lpwg_test_ctrl
    chmod 644 /sys/devices/virtual/input/lge_touch/lpwg_test_ctrl
    chown system system /sys/devices/virtual/input/lge_touch/touch_wake_up_test
    chmod 664 /sys/devices/virtual/input/lge_touch/touch_wake_up_test
    chown system system /sys/devices/virtual/input/lge_touch/quick_cover_status
    chmod 664 /sys/devices/virtual/input/lge_touch/quick_cover_status

# END TOUCH Commonon

#RED LED Indicator

# change mode Fingerprint Test app
#	chmod 666 /dev/btp

on boot
chown system system /sys/class/leds/red/pattern_id
chmod 0664 /sys/class/leds/red/pattern_id
chown system system /sys/class/leds/red/timed
chmod 0664 /sys/class/leds/red/timed
chown system system /sys/class/leds/red/time_on_off
chmod 0664 /sys/class/leds/red/time_on_off

on post-fs
# enable exfat feature
insmod /system/lib/modules/texfat.ko

#SDCard Encrypt.

chown system system /sys/kernel/debug/camera/logsync
chmod 0664 /sys/kernel/debug/camera/logsync

on init
    setprop ro.ssbd.session /dev/block/bootdevice/by-name/eksst
    setprop ro.ssbd.offset 0
