#CAPP_CKERROR_REPORTER
#import init.ckerror.rc
#import init.hdump.rc
#import init.lduma.rc

on post-fs
    mkdir /persist-lg/property 0771 system radio
    mkdir /persist-lg/autosimlock 0770 system system
    mkdir /persist-lg/poweron 0775 system system
    mkdir /persist-lg/tmo 0771 radio radio
    #For U+ call-frw
    mkdir /persist-lg/callfw 0770 radio radio
    #For LGKM default key storage
    mkdir /persist-lg/kmstore 0770 system system

    #USE_SECUREBOOT
    verity_update_state
#    determine_run_wallpaper

    #QFUSE
    write /sys/devices/platform/lge-qfprom/sec_read 0

on post-fs-data
    #CAPP_FONTS
    mkdir /data/font 775 system system
    chmod 775 /data/font
    mkdir /data/font/config 775 system system
    chmod 775 /data/font/config
    mkdir /data/font/download 775 system system
    chmod 775 /data/font/download

# 2014-11-10 hyukbin.ko@lge.com LGP_DATA_APN_BACKUP_SPRINT [START]
    mkdir /persist-lg/lgdata 0771 radio radio
# 2014-11-10 hyukbin.ko@lge.com LGP_DATA_APN_BACKUP_SPRINT [END]
    #LGDRM
    mkdir /data/lgdrm 0770 lgdrm lgdrm_acc
    mkdir /persist-lg/lgdrm 0770 lgdrm lgdrm_acc

    #Widevine
    mkdir /persist-lg/widevine 0770 drm system

    #Widevine firmware
    mkdir /persist-lg/firmware 0771 system system

    #Secure clock
    mkdir /persist-lg/secclk 0700 system system

    #chargerlogo
    mkdir /persist-lg/chargerlogo 0770 system system

    #DivX DRM
    mkdir /persist-lg/multimedia 0770 media divxdrm
    mkdir /persist-lg/multimedia/nx 0770 media divxdrm
    mkdir /persist-lg/multimedia/uma 0770 media divxdrm
    mkdir /persist-lg/multimedia/scnt 0770 media divxdrm
    mkdir /persist-lg/multimedia/scnt/sdadf 0770 media divxdrm

    #Kill-Switch
    mkdir /persist-lg/mms 0770 system lgmms

    #MM Proxy
    mkdir /persist-lg/mmoprt 0771 system system

    #Encryption
    mkdir /persist-lg/encryption 0771 system system

    #secureks
    mkdir /persist-lg/secureks 0770 system system

    #CAPP_BLUEERROR_HANDLER: temp version, it will be removed
    chown root system /data/dontpanic
    chmod 0775 /data/dontpanic

    #LGMDM [a1-mdm-dev@lge.com][ID-MDM-77][ID-MDM-289]
    mkdir /data/system 0775 system system
    mkdir /data/system/lgmdm 0700 system system

    #safety_timer hidden menu support
    chown system system /sys/class/power_supply/battery/safety_timer
    chown system system /sys/class/power_supply/battery/safety_timer_enabled

	# LGE_CHANGE_S, [display] feature : SP MIRRORING
	chmod 0660 /sys/class/graphics/fb0/sp_link_backlight_off
	chown system system /sys/class/graphics/fb0/sp_link_backlight_off
	chmod 0660 /sys/devices/virtual/input/lge_touch/sp_link_touch_off
	chown system system /sys/devices/virtual/input/lge_touch/sp_link_touch_off
	# LGE_CHANGE_E, [display] feature : SP MIRRORING

    # CAPP_INTEGRITY, LGIS [lge-is-dev@lge.com]
    mkdir /data/system/lgis 0700 system system

    #COTA
    mkdir /data/shared 0755
    chown system system /data/shared
    restorecon /data/shared

    #NTCODE_LISTING
    mkdir /data/app-system 0771 system sytem

    #SELinux
    mkdir /data/misc/audit 00750 system system

#/* 2013-06-24, juhyup.kim@lge.com LGP_DATA_APN_BACKUP [START] */
    mkdir /persist-lg/lgdata 0775 radio radio
#/* 2013-06-24, juhyup.kim@lge.com LGP_DATA_APN_BACKUP [END] */

    # LGBackup Removing Unlabeled Resource
    rm /data/data/.bnr_fifo_rly
    rm /data/data/.bnr_fifo_req

    #labeling lg partitions
    restorecon_recursive /persist-lg
    restorecon /sns
    restorecon_recursive /sns
    restorecon /mpt
    restorecon_recursive /mpt
    restorecon /persist
    restorecon_recursive /persist
    restorecon /cust
    restorecon_recursive /cust
    restorecon /eri
    restorecon_recursive /eri
    restorecon /vzw/quality
    restorecon_recursive /vzw/quality
    restorecon /carrier
    restorecon_recursive /carrier
    restorecon /ve
    restorecon_recursive /ve
    restorecon /OneSeg
    restorecon_recursive /OneSeg
    restorecon /dev/iwland
    restorecon /data/preload
    restorecon_recursive /data/preload

    #Widevine firmware copy
    exec /system/bin/cpfirmware widevine /persist-lg/firmware
    #DCM PlayReady firmware copy
    exec /system/bin/cpfirmware dcmplayready /persist-lg/firmware

# LGE_CHANGE_S, [SIMLock][KDDI], 20160406, for KDDI SIMLock Management
    mkdir /persist-lg/cardinal 0770 system system
# LGE_CHANGE_E, [SIMLock][KDDI], 20160406, for KDDI SIMLock Management

on boot
    # Assign TCP buffer thresholds to be ceiling value of technology maximums
    # Increased technology maximums should be reflected here.
    # LGP_DATA
    write /proc/sys/net/core/rmem_max  8388608
    write /proc/sys/net/core/wmem_max  8388608

# LGP_DATA_PERFORMANCE_HELPING_CODE, y01.jeong@lge.com
on property:ro.build.product=z2
    write /proc/sys/net/core/netdev_max_backlog 5000

on property:ro.build.product=p1
    write /proc/sys/net/core/netdev_max_backlog 5000

on property:ro.build.product=h1
    write /proc/sys/net/core/netdev_max_backlog 5000

on property:ro.build.product=b3
    write /proc/sys/net/core/netdev_max_backlog 5000

on property:ro.build.product=JSG
    write /proc/sys/net/core/netdev_max_backlog 5000

on property:ro.build.product=l5
    write /proc/sys/net/core/netdev_max_backlog 5000
# LGP_DATA_PERFORMANCE_HELPING_CODE, y01.jeong@lge.com

#SELinux
#service auditd /system/bin/auditd -k
#    class main

#CAPP_POWEROFF_ANI
service shutdownanim /system/bin/shutdownanimation
    class main
    user graphics
    group graphics system
    disabled
    oneshot

#CAPP_NFS
service nfsserversetup /system/bin/nfsserversetup
    class late_start
    user root
    oneshot

#CAPP_MPROFILER
service lgprofd /system/bin/lgprofd
    socket lgprofd stream 666

#Application Manager ENABLE_UNINSTALL
service enable_uninstall  /system/vendor/bin/enable_uninstall.sh
    disabled
    oneshot

#Application Manager ENABLE_UNINSTALL
on property:vold.post_fs_data_done=1
    start enable_uninstall

#CAPP_LOGCATCHER
service digicl /system/bin/sh /system/bin/digicl.sh
    class main
    disabled
    oneshot
    seclabel u:r:digicl:s0

#CAPP_LOGCATCHER
service quickdump /system/bin/sh /system/bin/quickdump.sh
    class main
    disabled
    oneshot
    ioprio rt 0
    seclabel u:r:quickdump:s0

#CAPP_NFS
service nfskill /system/bin/nfskillprocess
    disabled
    oneshot
    user root

on property:vold.decrypt=trigger_shutdown_framework
    start nfskill

# CAPP_INTEGRITY, LGIS [lge-is-dev@lge.com]
service lghashstorage /system/bin/lghashstorageserver
    class main
    user system
    group system lgdrm_acc sdcard_rw media_rw

#Application Manager NTCODE work
service ntcode_listing /system/vendor/bin/ntcode_listing.sh
    disabled
    oneshot

#Application Manager NTCODE work
on property:persist.sys.ntcode_list=1
    start ntcode_listing

#Useless apks delete
service apk_delete /system/vendor/bin/apk_delete.sh
    user root
    group root
    disabled
    oneshot

#Useless apks delete
on property:persist.data.sbp.update=1
    start apk_delete

#Useless apks delete
on property:persist.sys.delete_apk_osu=2
    start apk_delete

#Customize booting resources
service runtime_boot_res /system/vendor/bin/runtime_boot_res.sh
    disabled
    oneshot

#Customize booting resources
on property:sbp.load_props_done=1
    start runtime_boot_res

service run_cache_res /system/vendor/bin/runtime_boot_cache_res.sh
    disabled
    oneshot

on property:sbp.bootanim=1
    start run_cache_res


on property:persist.sys.cota.changed=1
    wait /dev/block/bootdevice/by-name/cust
    mount ext4 /dev/block/bootdevice/by-name/cust /cust rw remount nosuid nodev barrier=1 noauto_da_alloc
    restorecon_recursive /cust
    mkdir /cust/_COTA_RES 0775 system system
    start cota_update

on property:persist.sys.cota.changed=2
    wait /dev/block/bootdevice/by-name/cust
    mount ext4 /dev/block/bootdevice/by-name/cust /cust ro remount nosuid nodev barrier=1 noauto_da_alloc
    restorecon_recursive /cust
    start cota_update


service cota_update /system/vendor/bin/cota_update.sh
    disabled
    oneshot

#LGBackup System service daemon
service bnrd /sbin/bnrd
    class main
    socket bnrd stream 660 root system
    user root
    group system radio sdcard_rw
    disabled
    seclabel u:r:bnrd:s0

on property:sys.lge.bnrd=1
    start bnrd

#LGP_DATA_DSQN [START]
service dsqn /system/bin/dsqn
    disabled

    on property:persist.lg.data.dsqn=1
        start dsqn

    on property:persist.lg.data.dsqn=0
        stop dsqn
#LGP_DATA_DSQN [END]

# 2015-06-11 hyoseab.song@lge.com LGP_DATA_TCPIP_MPTCP_SOCKS [START]
service socks /system/xbin/redsocks -c /system/etc/redsocks.conf
    disabled
    user root

    on property:lg.data.socks=1
        start socks

    on property:lg.data.socks=0
        stop socks
# 2015-06-11 hyoseab.song@lge.com LGP_DATA_TCPIP_MPTCP_SOCKS [END]
# bugreport is triggered by holding down volume down, volume up and power
service bugreport /system/bin/dumpstate -d -p -B \
        -o /data/data/com.android.shell/files/bugreports/bugreport
    class main
    disabled
    oneshot
    keycodes 114 115 116

# resource parallel loading
service rmplb /system/vendor/bin/rmplb.sh
    user root
    group root
    disabled
    oneshot

on property:sys.boot_completed=1
    start rmplb

on run-wallpaper
    exec u:r:wallpaper:s0 -- /sbin/wallpaper

# LG RCT(Rooting Check Tool)
service rctd /sbin/rctd
    class late_start
    user root
    group root
    seclabel u:r:rctd:s0

#service ccmd /system/bin/ccmd
#    class core
#    user system
#    group system
#    socket ccmd stream 0660 root system
#    seclabel u:r:ccmd:s0

# LGE_CHANGE_S, [display] feature : SP MIRRORING
on property:com.lge.splink_screen_off=0
    write /sys/class/graphics/fb0/sp_link_backlight_off 0
    write /sys/devices/virtual/input/lge_touch/sp_link_touch_off 0

on property:com.lge.splink_screen_off=1
    write /sys/class/graphics/fb0/sp_link_backlight_off 1
    write /sys/devices/virtual/input/lge_touch/sp_link_touch_off 1
# LGE_CHANGE_E, [display] feature : SP MIRRORING
